<!DOCTYPE html>
<html>
<head>
    <title>Ваш вес на разных планетах</title>
</head>
<body>
    <h1>Ваш вес на разных планетах</h1>
    <form method="post">
        Введите свой вес: <input type="number" name="mas" required><br>
        <input type="submit" value="Рассчитать">
    </form>
    {% if volume_mer %}
        <p>Ваш вес на Меркурие {{ volume_mer }} килограмм</p>
        <p>Ваш вес на Венере {{ volume_ven }} килограмм</p>
        <p>Ваш вес на Марсе {{ volume_mars }} килограмм</p>
        <p>Ваш вес на Юпитере {{ volume_qpt }} килограмм</p>
        <p>Ваш вес на Сатурне {{ volume_ctr }} килограмм</p>
        <p>Ваш вес на Уране {{ volume_yrn }} килограмм</p>
        <p>Ваш вес на Нептуне {{ volume_nep }} килограмм</p>
        <p>Ваш вес на Плутоне {{ volume_plt }} килограмм</p>
    {% endif %}
</body>
</html>
