<!DOCTYPE html>
<html>
<head>
    <title>Ваш вес на разных планетах</title>
</head>
<body>
    <h1>Ваш вес на разных планетах</h1>
    <form method="post">
        Введите свой вес: <input type="number" name="mas" required><br>
        <input type="submit" value="Рассчитать">
    </form>
    {% if volume2 %}
        <p>Ваш вес на Солнце {{ volume2 }} килограмм</p>
        <p>Ваш вес на Меркурие {{ volume3 }} килограмм</p>
        <p>Ваш вес на Венере {{ volume4 }} килограмм</p>
        <p>Ваш вес на Марсе {{ volume5 }} килограмм</p>
        <p>Ваш вес на Юпитере {{ volume6 }} килограмм</p>
        <p>Ваш вес на Сатурне {{ volume7 }} килограмм</p>
        <p>Ваш вес на Уране {{ volume8 }} килограмм</p>
        <p>Ваш вес на Нептуне {{ volume9 }} килограмм</p>
        <p>Ваш вес на Плутоне {{ volume10 }} килограмм</p>
    {% endif %}
</body>
</html>